In [128]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re
driver_path = "./driver/chromedriver.exe" 
opt = Options()
opt.add_argument("--enable-javascript")  
# opt.add_argument("--headless")  
opt.add_argument("--disable-infobars") 
opt.add_argument("--disable-extensions") 
opt.add_argument("--disable-blink-features=AutomationControlled")  
service = Service(driver_path)

url = "https://philkotse.com/used-cars-for-sale/p{}"
driver = webdriver.Chrome(service=service, options=opt)

In [90]:
car_data = {}
cleaned_car_data = {}
for page in range(1,11):
    b_url = url.format(page)
    driver.get(b_url)
    print(f"Scrapping page {page}: {b_url}")
    col_blocks = driver.find_elements(By.CLASS_NAME, "col-4")
    for car in col_blocks:
        title = car.get_attribute("data-title")
        if not title or not isinstance(title, str):
            continue
        cleaned_title = re.split(r'[^\w\s\d\-\.\/]',title)[0].strip() 
        
        scrapped_price = car.find_element(By.CLASS_NAME, "price")
        if not scrapped_price:
            continue    
        raw_html = scrapped_price.get_attribute("innerHTML")
        new_price_text = raw_html.split("<span")[0].strip()
        cleaned_price = re.sub(r'[^\d]', '', new_price_text)
        
        car_data[title] = new_price_text
        cleaned_car_data[cleaned_title] = cleaned_price
    time.sleep(0.5)
driver.quit()

Scrapping page 1: https://philkotse.com/used-cars-for-sale/p1
Scrapping page 2: https://philkotse.com/used-cars-for-sale/p2
Scrapping page 3: https://philkotse.com/used-cars-for-sale/p3
Scrapping page 4: https://philkotse.com/used-cars-for-sale/p4
Scrapping page 5: https://philkotse.com/used-cars-for-sale/p5
Scrapping page 6: https://philkotse.com/used-cars-for-sale/p6
Scrapping page 7: https://philkotse.com/used-cars-for-sale/p7
Scrapping page 8: https://philkotse.com/used-cars-for-sale/p8
Scrapping page 9: https://philkotse.com/used-cars-for-sale/p9
Scrapping page 10: https://philkotse.com/used-cars-for-sale/p10

In [102]:
# https://stackoverflow.com/questions/12118695/efficient-way-to-remove-keys-with-empty-strings-from-a-dict
filter_car_data = {k: v for k,v in cleaned_car_data.items() if len(k) > 10}
for key, value in filter_car_data.items():
    print(f'{key} - {value}')

2024 Nissan Livina 1.5 VL A/t - 988000
2023 Hyundai Stargazer 1.5 GL IVT A/t - 835000
2024 Toyota Fortuner 2.4 V A/t - 1850000
2020 Honda Brv V 1.5 CVT - 795000
2025 Hyundai H100 M/t Crdi - 975000
2023 Hyundai HD45 GT Turbo M/t - 998000
2025 Toyota Innova 2.8L XE A/t - 1195000
2023 Mitsubishi Strada 2.4 GLS A/t - 1098000
2019 Acquired 2020 Mitsubishi Xpander 1.5 GLS Sports - 695000
2016 Kia Picanto 1.2 EX A/t - 365000
2022 Chevrolet Trailblazer 1.3T CVT A/t - 998000
2014 Toyota Lancruiser 200 VXR V8 Dubai Version Platinum Edition - 3250000
2024 Toyota Vios 1.3 XLE CVT A/t - 685000
2023 Toyota Vios 1.3 XLE CVT A/t - 645000
2024 Suzuki Ertiga 1.5 A/t - 898000
2018 Subaru XV 2.0 i-S Eyesight Automatic Gas - 788000
2017 Mazda CX5 2.2 Diesel AWD Automatic - 688000
2012 Mitsubishi Montero GLS VGT 4x2 Diesel Automatic - 528000
2024 Toyota Hilux E 4x2 DSL Manual - 1168000
2016 Nissan Navara 2.5 EL Calibre 4x2 M/T Diesel - 688000
2023 Kia Stonic 1.4 LX Gas Automatic - 628000
2023 Suzuki Ertiga GL Hybrid Gas Automatic - 848000
2022 Toyota Corolla Cross 1.8 G CVT Automatic Gas - 1058000
2023 Hyundai Staria Premium AWD Top of the Line A/T Diesel - 2388000
2019 Subaru Forester 2.0 XT AWD Automatic Gas - 818000
2021 Geely Okavango Urban 1.5 Gas Automatic - 798000
2016 Volkswagen Jetta 1.6 Diesel Automatic - 398000
2024 Ford Territory Titanium 1.5 Gas Automatic - 998000
2012 Mitsubishi Montero GLS VGT 4x2 Diesel A/T - 528000
2016 Toyota Fortuner G 2.7 AT Gas 219K ALL IN - 848000
Nissan NV350 2018 2.5 Premium Automatic - 1050000
Toyota Innova 2017 2.0 G Gas Automatic - 755000
Subaru Forester 2015 2.0i Premium W/Sunroof 50K KM Automatic - 520000
Nissan Terra 2019 2.5 VL Automatic - 1090000
Ford Everest 2016 3.2 Titanium 4x4 W/Sunroof Automatic - 890000
Mitsubishi Montero Sport 2018 2.4 GLS Automatic - 930000
Toyota Raize 2023 1.2 G 8K KM Automatic - 795000
Ford Everest 2018 3.2 Titanium Plus 4x4 W/ Sunroof Casa Maintained Automatic - 1090000
Honda BR-V 2019 1.5 V 20K KM Automatic - 730000
Selling White 2024 Ford Territory SUV / Crossover by verified seller - 1158000
2024 Toyota Hiace  Commuter 3.0 M/T for sale by Verified seller - 1228000
almost new 2024 Mitsubishi Mirage G4  GLS 1.2 CVT for sale in good condition - 550000
Pre-owned Brightsilver 2021 Toyota Wigo  1.0 G AT for sale - 428000
2024 Toyota Fortuner  2.4 G Diesel 4x2 AT for sale by Trusted seller - 1568000
Well kept 2023 Toyota Rush G GR-S 1.5 AT for sale - 898000
Hot deal alert - 658000
Pre-owned 2020 Toyota Innova  2.8 V Diesel AT for sale - 1028000
2024 Toyota Avanza  1.3 E A/T for sale by Trusted seller - 838000
Sell pre-owned 2022 Mitsubishi Mirage  GLX 1.2 CVT - 438000
Pre-owned Orange 2023 Mitsubishi Strada Athlete 4WD AT for sale - 1258000
Black 2024 Hyundai Stargazer GLS 1.5 IVT  for sale - 818000
Pre-owned 2024 Toyota Vios 1.3 XE CVT for sale - 568000
2023 Toyota Hilux Conquest 2.4 4x2 AT for sale by Verified seller - 1318000
Red 2024 Toyota Innova 2.8 XE Diesel AT  for sale - 1068000
2012 Toyota Fortuner 4x2 Automatic - 625000
2014 Subaru Forester 2.0iP AWD AT - 498000
2020 Ford Ranger Raptor 2.0 Bi-Turbo 4x4 A/T Diesel - 1278000
2023 Toyota Vios 1.3 XLE Automatic Gas - 618000
2019 Hyundai Grand Starex Urban Exclusive Diesel A/T - 1458000
2018 Honda Civic 1.8 E Automatic Gaa - 768000
2024 Toyota Rush GRS 1.5 Gas Automatic - 948000
Mitsubishi Montero Sport 2016 2.5 GT 4X4 Loaded Automatic - 960000
Toyota Alphard 2018 3.5 20K KM Automatic - 2670000
Ford Mustang 2015 5.0 GT 18K KM Automatic - 1970000
Toyota Camry 2019 2.5 V 30K KM Lexux Look Automatic - 1290000
Toyota Raize 2022 1.0 Turbo Automatic - 830000
Honda City 2016 1.5 VX Automatic - 520000
Ford Everest 2016 2.2 Ambiente Automatic - 670000
Hyundai Venue 2022 1.6 GL Automatic - 690000
Toyota Innova 2019 2.8 E Diesel Automatic - 830000
Ford Ecosport 2021 Acq. 1.0 Titanium Automatic - 580000
Kia Sportage 2018 GT Diesel Automatic - 750000
Kia Rio 2014 1.4 EX Automatic - 315000
Ford Territory 2021 1.5 Titanium 20K KM Automatic - 810000
Hyundai Tucson 2019 2.0 CRDI Diesel Automatic - 760000
Honda Civic 2016 1.8 E Automatic - 690000
Honda BR-V 2017 1.5 V Push Start Automatic - 620000
Toyota FJ Cruiser 2016 4.0 4x4 Loaded Automatic - 1620000
Kia Picanto 2016 1.2 EX Automatic - 340000
Honda HR-V 2017 1.8 EL 30K KM Automatic - 670000
Nissan Navara 2017 2.5 EL Sport Automatic - 790000
Kia Carens 2014 1.7 EX W/Sunroof Automatic - 460000
Hyundai Accent 2020 1.4 GL 30K KM Automatic - 480000
Mazda CX-3 2017 2.0 Sport AWD Automatic - 590000
Hyundai Kona 2020 2.0 GLS Automatic - 580000
Suzuki Ertiga 2019 1.5 GL Automatic - 565000
Honda Brio 2022 1.2 V 17K KM Automatic - 595000
Ford Ecosport 2019 1.0 Titanium 30K KM Automatic - 540000
Chevrolet Trax 2019 Acquired 2017 Model 1.4 LS Automatic - 410000
Toyota Rush 2018 1.5 E Automatic Automatic - 640000
Hyundai Tucson 2016 2.0 GLS Push Start Diesel Automatic - 610000
2016 Nissan Juke 1.6 CVT Gas Automatic - 478000
2024 Mitsubishi Montero Sport GLX 2.4L M/T Diesel - 1148000
2020 Toyota Hiace GL Grandia 2.8L Diesel M/T for Sale - 1628000
Geely Coolray 2021 1.5 Sport W/Sunroof Automatic - 640000
Toyota Hiace Grandia 2018 3.0 GL Automatic - 1330000
Suzuki Ertiga 2023 1.5 Hybrid GL Save 400K From Brand New 10K KM Automatic - 795000
Mitsubishi Xpander 2019 1.5 GLX Plus Automatic - 650000
Suzuki Ertiga 2024 1.5 Hybrid GLX Save 300K From Brand New 7K KM Automatic - 890000
Mitsubishi Montero Sport 2018 Acquired 2.4 GLS Automatic - 895000
Toyota Fortuner 2017 2.4 V Diesel 30K KM Automatic - 1170000
2024 Toyota Rush GRS 1.5 Gas AT - 948000
Ford Everest 2016 3.2 Titanium 4x4 Automatic - 830000
Nissan NV350 2019 2.5 Urvan Manual - 790000
Isuzu MU-X 2017 3.0 LS-A Automatic - 790000
Ford Ranger 2022 2.2 FX4 Automatic - 920000
Toyota Fortuner 2017 2.4 V Diesel Automatic - 1150000
Suzuki Grand Vitara 2015 2.4 GL Automatic - 450000
Nissan Juke 2019 1.6 CVT 20K KM Automatic - 530000
Suzuki APV 2014 1.6 SGX Automatic - 380000
Mitsubishi Montero Sport 2013 2.4 GLS V Automatic - 640000
Mazda 3 2016 1.5 Skyactive Automatic - 480000
Toyota Yaris 2016 1.3 E Automatic - 490000
Toyota Rush 2020 1.5 E Casa Maintained Automatic - 695000
Ford Everest 2019 Acquired 2.2 Titanium Plus W/Sunroof Automatic - 970000
Mazda CX-3 2017 2.0 Sport AWD 40K KM Automatic - 590000
2016 Ford Everest Titanium 2.2L 4X2 DSL AT - 788000
2023 Ford Territory Titanium 1.5L AT - 878000
2019 Mitsubishi Xpander GLS Sport 1.5L AT - 678000
2020 Suzuki Ertiga 1.5L GL AT - 628000
2022 Suzuki Carry Cab - 588000
2024 Mitsubishi Mirage G4 GLX 1.2L CVT AT - 588000
2019 Suzuki Alto STD 0.8L MT - 278000
MITSUBISHI XPANDER CROSS 1.5G 2WD AT - 787550
MITSUBISHI XPANDER GLX 1.5G 2WD MT - 806550
TOYOTA WIGO 1.0 CVT - 499700
MITSUBISHI MIRAGE G4 GLX 1.2L GAS MT - 426750
TOYOTA VIOS 1.3 XLE CVT - 710000

In [127]:
from connect import connect
from config import load_config
# https://neon.tech/postgresql/postgresql-python/create-tables
def push_to_table():
    config = load_config()
    conn = connect(config)
    cur = conn.cursor()
    create_table = (
        """
        CREATE TABLE IF NOT EXISTS cartests (
            id SERIAL PRIMARY KEY,
            title VARCHAR(255) NOT NULL,
            price INTEGER NOT NULL,
            date_listed DATE DEFAULT CURRENT_DATE
        );
        """)
    cur.execute(create_table)
    try:
        cur.execute("ALTER TABLE cartests ADD CONSTRAINT unique_title UNIQUE (title)") # Allow to set a permission, must run once
    except Exception as e:
        conn.rollback()
        print("A unique title exists. Ignoring error")
    for title, price in filter_car_data.items():
        cur.execute("""
        INSERT INTO cartests (title, price)
        VALUES (%s, %s)
        ON CONFLICT (title) DO UPDATE SET price = EXCLUDED.price
        """, (title,price))
    conn.commit()
    cur.close()
    conn.close()
    print("Push data to Table is done!")
push_to_table()

Connected to the PostgreSQL server.
Push data to Table is done!